.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table-container {
  max-height: calc(100vh - 150px); /* Set maximum height to the viewport height */
  overflow-y: auto;  /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scroll (optional) */
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.custom-table thead {
  background-color: #007BFF;
  color: #ffffff;
  position: sticky;
  top: 0; /* Keeps the header row sticky at the top */
  z-index: 2;
}

.header-row th {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid #e1e1e1;
}

.header-cell {
  cursor: pointer;
}

.header-cell .sort-icon {
  margin-left: 8px;
  font-size: 12px;
  color: #ffffff;
}

.body-row:hover {
  background-color: #f1f9ff;
  cursor: pointer;
}

.body-row:nth-child(even) {
  background-color: #f9f9f9;
}

.body-cell {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid #e1e1e1;
  color: #333333;
}


.search-bar-container {
  margin-bottom: 15px;
  text-align: left;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search-bar:focus {
  border-color: #007BFF;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.25);
}
.pagination-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination-button {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pagination-button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #007bff;
  color: white;
}

.pagination-info {
  font-size: 14px;
}
